venv
mining-massive-datasets-stanford
books
working_dir/cs246
datasets/cs246
word_counts_pyspark
June 20/ml-100k
June 20/ml-latest-small
June 20/movie_lens_dataset_explore.ipynb
June 10-11/Collaborative Dataset Creation
